:root {
  --main-bg-color: #c3c5d8;
  --footer-bg-color: #A89788;
  --menu-bg-color: #9691A8;
  --elements-bg-color: #D0C6F5;
  --main-font-color: #0C0A23;
  --sub-font-color: #3C4553;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--main-bg-color);
}

a {
  color: var(--main-font-color);
}

* {
  box-sizing: border-box;
}

.header,
.main,
.footer {
  border: 1px dotted var(--sub-font-color);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: var(--menu-bg-color);
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  font-size: 1.5em;
  color: var(--main-font-color);
  transition: .3s;
}

.section {
  border: 1px dotted var(--sub-font-color);
  border-radius: 10px;
  padding: 2%;
  margin: 2%;
}

.section-title {
  color: var(--main-font-color);
  font-size: 26px;
}

.section-subtitle {
  color: var(--sub-font-color);
  font-size: 22px;
}

.profile-image {
  min-width: 300px;
  width: 20%;
  border-radius: 10px;
}

.contacts-list {
  list-style: none;
  font-weight: 300;
}

.contact-item {
  margin: 3%;
  width: 350px;
}

.contact-item a {
  color: var(--main-font-color);
  text-decoration: none;
  padding: 2%;
  font-size: 20px;
}

.paragraph {
  width: 60%;
  margin: 3%;
  padding: 0 0 0 40px;
  font-weight: 300;
  line-height: 1.8em;
  font-size: 20px;
}

.skill-list {
  list-style: none;
  font-weight: 300;
}

.skill-item {
  margin: 3%;
  font-size: 20px;
}

.snippet-code {
  font-size: 16px;
  border-radius: 10px;
  height: 20vh;
}

.snippet-label {
  cursor: pointer;
  font-weight: 300;
  font-size: 18px;
  border: 1px dotted var(--sub-font-color);
  border-radius: 10px;
  padding: 1%;
  background-color: var(--elements-bg-color);
  transition: .3s;
}

.snippet-expand:checked ~ pre .snippet-code{
  height: 100vh;
}

.project-list {
  list-style: decimal;
  font-weight: 300;
  font-size: 20px;
}

.project-item {
  margin: 3%;
  width: 60%;
}

.project-item a {
  text-decoration: none;
}

.course img {
  width: 40%;
  min-width: 300px;
}

.language-item {
  font-weight: 300;
  font-size: 20px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.footer-links p {
  font-size: 30px;
  font-weight: 800;
}

.github-link,
.rs-link {
  transition: .3s;
}
.github-link img,
.rs-link img{
  width: 70%;
}

@media screen and (hover: hover) {
  .nav-link:hover {
    color: var(--sub-font-color);
  }

  .contact a:hover {
    color: var(--sub-font-color);
  }

  .snippet-label:hover {
    background-color: var(--menu-bg-color);
  }

  .github-link:hover,
  .rs-link:hover {
    transform: scale(0.95);
  }
}

@media (max-width: 700px) {

  .nav-list {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav-item{
    margin: 5px 0px;
  }

  .nav-link {
    padding: 0 10px;
    line-height: 20px;
    font-size: 1.2em;
  }

  .contacts-list {
    overflow: scroll;
  }

  .paragraph {
    width: 90%;
  }

  .project-item {
    width: 90%;
  }

}